<header class="header retro-border">
    <nav>
        <ul class="nav-list">
        <li><a href="/pages/dashboard.html">Panel</a></li>
        <li><a href="/pages/heroes.html">Héroes</a></li>
        <li><a href="/pages/villains.html">Villanos</a></li>
        <li><a href="/pages/battles.html">Batallas</a></li>
        <li><a href="/pages/team.html">Mi equipo</a></li>
        <li><a href="/pages/profile.html">Perfil</a></li>
        <li><a href="/pages/admin.html">Admin</a></li>
        </ul>
    </nav>
</header>
