body
{
    background-color: #E9E7E1;
}
nav
{
    display: flex;
    align-items: center;
    justify-content: center;
}
nav.titu
{
    text-align: center;
    justify-content: center;
    font-size: 30px;

}
.titu
{
    color: #4B3A5E;
}
nav#logo
{
    justify-content: left;
    text-align: left;
}
.buscador
{
    display: flex;
    align-items: center;
    justify-content: center;
}
ul.list
{
    display: flex;
    align-items: left;
    justify-content: left;
    position: static;
    text-decoration: none;
}
li
{
    margin: 20px;
    list-style: none;
    font-family: 'Courier New', Courier, monospace;
}
li:hover
{
    text-decoration: none;
    background-color: rgb(190, 191, 228);
}
a
{
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    color: 5265 C;
}