body
{
    background-color: #000000;
    font-family: Arial, sans-serif;
}
header
{
    text-align: center;
}
h1
{
    color: wheat;
    font-size: 2,5cm;
}
.container
{
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #333333;
    border-radius: 10px;
}
ul
{
    list-style-type: none;
    display: block;
}
h2
{
    color: aliceblue;
    text-align: center;
}
p
{
    color: wheat;
    text-align: left;
    margin: 30px;
    padding: 10px;
}
input
{
    text-align: center;
    font-size: 1;
    margin: 10px;
    display: flex;
}
#dia
{
    background-color: rgb(223, 205, 182);
}
#hora
{
    background-color: rgb(180, 164, 144);
}
#lugar
{
    background-color: rgb(173, 160, 143);
}
